.header-slider{
    margin: 0;
    padding: 0;
    margin: 0 auto;
    width: 700px;
}
.header-slider img{
    width: 1333px; 
    height: 344px;
    margin: 0 auto;
    width: 700px;
}
.menu-section{
    background-color: rgb(159, 237, 237);
    padding: 6px;
    margin-top: -4px;
    width: 1333px; 
    margin: 0 auto;
    width: 689px;
    
}

.menu-section ul {
list-style: none;
display: flex;


}
.menu-section ul li{
    width: 376px;
}


.battle{
    margin: 0 auto;
    width: 700px;  
}

.registration-form{
    overflow: hidden;
    margin: 0;
    padding: 0;
    margin: 0 auto;
    width: 700px;
    background-color: antiquewhite;
}
.registration-form h1{
color: blue;
text-align: center;
}
form{
    padding-left: 10px;
}
form.name{
    display:flex
    justify-content: space-between;
    padding:15px 0;
    width:100%;
}
form.first name form.last name{
    width: 50%;
    padding: 10px 0;
    font-weight: 800;
    margin: 25px 0;
}
first name{
    margin: 15px;
}

.last name{
    width: 50px;
    padding: 10px 0;
    font-weight: 800;
}

form label{
    display: inline-block;
    font-weight: 800;
    margin-bottom: 10px;
    padding: 10px 0;
    width: 100%;
    font-size: larger;
}

.gender b{
    display: block;
    margin-bottom: 15px;
    
}
.gender Religion{
    padding-top: 10px;
} 
 .gender lebel{
 display: inline-block;
 padding-top: 15px;
}
.fname input,.lname input,.first name input,.text-aria textarea{
    width: 100%;
    border: 5px solid black;
    padding: 10px 0;
    border-radius: 5px;
    padding-left: 15px;
}
.text-area textarea {
margin-top: 15px;
width: 650px;
height: 90px;

}
.submit-btn{
    margin-bottom: 25px;
}
.submit-btn input{
margin-top: 30px;
padding: 10px 30px;
color: rgb(243, 243, 245);
font: 800;
background-color: blueviolet;
border-radius: 5px;
font-size: 20px;
cursor: pointer;
}
body{
    margin: 0;
} 
